<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Thêm sản phẩm mới</title>
</head>
<div class="content-page" layout:fragment="body">
    <div class="login-content container" >
        <div class="row align-items-center justify-content-center height-self-center">
            <div class="col-lg-8">
                <div class="card auth-card">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center auth-content">
                            <div class="col-lg-7 align-self-center">
                                <div class="p-3">
                                    <h2 class="mb-2">Tạo sản phẩm mới</h2>
                                    <div th:if="${param.fail}" class="alert alert-success">
                                        Đã có tài khoản trùng tên đăng nhập hoặc email</div>
                                    <form method="post" role="form" th:action="@{/products/new}" th:object="${product}">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="floating-label form-group">
                                                    <input class="floating-input form-control"
                                                           type="text"
                                                           placeholder=" "
                                                           name="name"
                                                           id="name"
                                                           th:field="*{name}"
                                                    >
                                                    <label>Tên sản phẩm</label>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="floating-label form-group">
                                                    <input
                                                            type="text"
                                                            name="photoUrl"
                                                            id="photoUrl"
                                                            class="floating-input form-control"
                                                            placeholder=" "
                                                            th:field="*{photoUrl}">
                                                    <label>Link hình ảnh</label>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="floating-label form-group">
                                                    <input
                                                            type="text"
                                                            name="unit"
                                                            id="unit"
                                                            class="floating-input form-control"
                                                            placeholder=" "
                                                            th:field="*{unit}">
                                                    <label>Đơn vị tính</label>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="floating-label form-group">
                                                    <input
                                                            type="number"
                                                            name="price"
                                                            id="price"
                                                            class="floating-input form-control"
                                                            placeholder=" "
                                                            th:field="*{price}">
                                                    <label>Giá</label>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="floating-label form-group">
                                                    <input
                                                            type="text"
                                                            name="author"
                                                            id="author"
                                                            class="floating-input form-control"
                                                            placeholder=" "
                                                            th:field="*{author}">
                                                    <label>Tác giả</label>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="floating-label form-group">
                                                    <input
                                                            type="text"
                                                            name="publisher"
                                                            id="publisher"
                                                            class="floating-input form-control"
                                                            placeholder=" "
                                                            th:field="*{publisher}">
                                                    <label>Nhà xuất bản</label>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="floating-label form-group">
                                                    <input
                                                            type="text"
                                                            name="genre"
                                                            id="genre"
                                                            class="floating-input form-control"
                                                            placeholder=" "
                                                            th:field="*{genre}">
                                                    <label>Thể loại</label>
                                                </div>
                                            </div>

                                        </div>
                                        <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                                        <p th:if="${#fields.hasErrors('photoUrl')}" class="text-danger" th:errors="*{photoUrl}"></p>
                                        <p th:if="${#fields.hasErrors('unit')}" class="text-danger" th:errors="*{unit}"></p>
                                        <p th:if="${#fields.hasErrors('price')}" class="text-danger" th:errors="*{price}"></p>
                                        <button type="submit" class="btn btn-primary">Tạo sản phẩm</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-5 content-right">
                                <img th:src="@{images/login/01.png}" class="img-fluid image-right" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>