HELP.md

target/generated-sources
target/generated-test-sources
target/test-classes
target/classes/com
target/classes/static/css
target/classes/static/images
target/classes/static/js
target/classes/static/vendor
target/classes/templates
target/classes/application.properties

**/static.rar


!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
