<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Danh sách hóa đơn</title>

</head>

<div class="content-page" layout:fragment="body">

    <div class="container-fluid">
        <div class="row ml-1">
            <div class="col-lg-12">
                <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                    <div>
                        <h4 class="mb-3">Danh sách hóa đơn</h4>
                        <p class="mb-0">Bảng điều khiển khách hàng cho phép bạn dễ dàng thu thập và trực quan hóa dữ
                            liệu khách hàng từ việc tối ưu hóa trải nghiệm của khách hàng, đảm bảo giữ chân khách hàng.
                        </p>
                    </div>

                </div>
                <div class="d-flex justify-content-end pr-3 mb-4">

                    <a th:href="@{/bill/add}" class="btn btn-primary add-list mr-2"><i class="las la-plus mr-3"></i>Thêm
                        hóa đơn</a>


                </div>

            </div>

        </div>




        <div class="col-lg-12">

            <div class="table-responsive rounded mb-5">
                <table class="data-tables table mb-0 tbl-server-info table-bordered rounded" id="Table">
                    <thead class="thead-light text-center">
                        <tr>
                            <th>
                                <div class="checkbox d-inline-block">
                                    <input type="checkbox" class="checkbox-input" id="checkbox1">
                                    <label for="checkbox1" class="mb-0"></label>
                                </div>
                            </th>
                            <th>Mã hóa đơn <i class="bi bi-arrow-down-up"></i></th>
                            <th>Tên Khách hàng</th>
                            <th>Tên Nhân viên</th>
                            <th>Giá trị hóa đơn</th>
                            <th>Ngày hóa đơn</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="ligth-body">
                        <th:block th:if="${bills != null and not #lists.isEmpty(bills)}">
                            <tr th:each="bill:${bills}">
                                <td>
                                    <div class="checkbox d-inline-block">
                                        <input type="checkbox" class="checkbox-input" id="checkbox3">
                                        <label for="checkbox3" class="mb-0"></label>
                                    </div>
                                </td>
                                <td th:text="${bill.id}"></td>
                                <td th:text="${bill.customerName}"></td>
                                <td th:text="${bill.staffName}"></td>
                                <td th:text="${bill.value}"></td>
                                <td th:text="${bill.createdAt}"></td>
                                <td>
                                    <div class="d-flex align-items-center list-action">
                                        <a class="badge bg-success mr-2" data-placement="top"
                                            th:href="@{/customer/update/{id}(id=${bill.id})}"
                                            data-original-title="Edit"><i class="ri-pencil-line mr-0"></i></a>
                                        <a type="button" class="badge bg-warning mr-2" data-toggle="modal"
                                            data-placement="top" title="" data-original-title="Delete"
                                            th:data-target="'.bd-example-modal-xl'+${bill.id}">
                                            <i class="ri-delete-bin-line mr-0"></i></a>

                                        <div th:class="'modal fade bd-example-modal-xl'+${bill.id}" role="dialog"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-xl">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Cảnh báo</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <span
                                                            th:text="'Bạn có chắc muốn xóa hóa đơn ' + ${bill.id} +' không?'">
                                                        </span>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                        <a th:href="@{/bill/delete/{id}(id=${bill.id})}"><button
                                                                type="button" class="btn btn-primary">Xóa</button></a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        </th:block>
                        <th:block th:if="${bills == null or #lists.isEmpty(bills)}">
                            <p>Không tìm thấy bill nào.</p>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- Page end  -->
</div>

</div>
</div>




</html>