<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Danh sách hóa đơn</title>
</head>
<div class="content-page" layout:fragment="body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div th:if="${param.billCreateSuccess}" class="alert alert-success">Tạo hóa đơn thành công!</div>
                    <div th:if="${param.deleteSuccess}" class="alert alert-success">Đã xóa hóa đơn</div>
                    <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                        <div>
                            <h4 class="mb-3">Danh sách hóa đơn</h4>
                        </div>
                        <div>
                            <a th:href="@{/bills/new}" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Thêm hóa đơn</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="table-responsive rounded mb-3">
                        <table class="data-tables table mb-0 tbl-server-info">
                            <thead class="bg-white text-uppercase">
                            <tr class="ligth ligth-data">
                                <th>
                                    <div class="checkbox d-inline-block">
                                        <input type="checkbox" class="checkbox-input" id="checkbox1">
                                        <label for="checkbox1" class="mb-0"></label>
                                    </div>
                                </th>
                                <th>Số hóa đơn</th>
                                <th>Người tạo</th>
                                <th>Tên khách hàng</th>
                                <th>Giá trị HĐ</th>
                                <th>Ngày tạo</th>
                                <th>Cập nhật cuối</th>
                                <th>Thao tác</th>
                            </tr>
                            </thead>
                            <tbody class="ligth-body">
                            <tr th:each="bill :${bills}">
                                <td>
                                    <div class="checkbox d-inline-block">
                                        <input type="checkbox" class="checkbox-input" th:id="${bill.getId()}">
                                        <label th:for="${bill.getId()}" class="mb-0"></label>
                                    </div>
                                </td>
                                <td th:text="${bill.getStaff().getFullName()}"></td>
                                <td th:text="${bill.getCustomer().getFullName()}"></td>
                                <td th:text="${bill.getValue()}"></td>
                                <td th:text="${#dates.format(bill.getCreatedAt(), 'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td th:text="${#dates.format(bill.getUpdatedOn(), 'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td>
                                    <div class="d-flex align-items-center list-action">
                                        <form th:action="@{/bills/delete}" method="POST">
                                            <a class="badge badge-info mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Xem"
                                               th:href="@{/bills/{billId}(billId=${bill.getId()})}"><i class="ri-eye-line mr-0"></i></a>
                                            <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sửa"
                                               th:href="@{/bills/{billId}/edit(billId=${bill.getId()})}"><i class="ri-pencil-line mr-0"></i></a>
                                            <input type="hidden" th:name="id" th:value="${bill.getId()}" />
                                            <button type="submit" class="badge bg-warning mr-2 border-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Xóa">
                                               <i class="ri-delete-bin-line mr-0"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Page end  -->
        </div>

</div>
</html>